<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CurrencyRates.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CurrencyRates.Properties.Settings>
            <setting name="DefaultPath" serializeAs="String">
                <value>http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1=02/01/2016&amp;date_req2=14/12/2016&amp;VAL_NM_RQ=R01235</value>
            </setting>
        </CurrencyRates.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DailyInfoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.cbr.ru/DailyInfoWebServ/DailyInfo.asmx"
                binding="basicHttpBinding" bindingConfiguration="DailyInfoSoap"
                contract="DelyInfoWebServer.DailyInfoSoap" name="DailyInfoSoap" />
        </client>
    </system.serviceModel>
</configuration>